.wrapper {
  padding-top: 100px;
  min-height: 100vh;
  width: 100%;
  height: auto;
  display: flex;
  background-image: linear-gradient(-20deg, rgb(115, 26, 183) 0%, rgb(99, 220, 62) 100%);
}

.title {
  color: #fff;
  text-shadow: 3px 3px 3px #000;
}

.destacar{
  transition: 0.3s;
}

.destacar:hover{
  box-shadow: 3px 3px 10px #42f551;
  transition: 0.3s;
}


.card {
  margin: 10px;
  margin-top: 40px;
  box-shadow: 0px 8px 60px -10px rgba(13, 28, 39, 0.6);
  border-radius: 12px;
  width: 100%;
  height: 420px;
  position: absolute;
-webkit-transition: -webkit-transform 1s;
-moz-transition: -moz-transform 1s;
-o-transition: -o-transform 1s;
transition: transform 1s;
-webkit-transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
-o-transform-style: preserve-3d;
transform-style: preserve-3d;
-webkit-transform-origin: 50% 50%;
}

.card .front {
  background: #fff;
}

.text-justify {
  padding:18px;
}
.card .back {
height: 420px;
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}


.card.flipped {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}
.card div {
    background: #fff;
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-img-top {
  border-radius: 50% !important;
  box-shadow: 0px 5px 50px 0px #42f551, 0px 0px 0px 7px rgba(66, 245, 81, 0.5);
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  margin-top: 20px;
}

.infos {
  padding-top: 15px;
}

.profile-button {
  background: none;
  color: #fff !important;
  border: none !important;
  padding: 10px;
  border-radius: 50px;
  background-color: rgb(115, 26, 183) !important;
  box-shadow: 0px 4px 30px rgba(115, 26, 183, 0.35);
  font-weight: 700;
  font-size: 19px;
}

.profile-button:hover {
  box-shadow: 0px 7px 30px rgba(99, 220, 62, 0.75);
  background-color: rgb(99, 220, 62) !important;
  transition: 0.1s;
}
